.loginForm form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: var(--font-first);
    font-size: 1.6rem;
    color: var(--color-black);
    margin-bottom: 3rem;
}

.loginForm form label {
    margin: 2rem 0 .5rem;
}


.loginForm form button {
    margin-top: 1.4rem;
}

.loginForm .lostPassword {
    font-family: var(--font-first);
    font-size: 1.6rem;
    color: var(--color-dark-gray);
    border-bottom: 2px solid var(--color-dark-gray);
}

.loginForm .register {
    margin-top: 6rem;
}

.loginForm .register p {
    margin: 2rem 0;
    font-family: var(--font-first);
    font-size: 1.6rem; 
    color: var(--color-black);
}

.loginForm .register a {
    margin-top: 2rem;
}

.erroForm {
    margin-top: 1rem;
    color: var(--color-red);
}