.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black-soft);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal {
    background-color: var(--color-white);
    width: 90rem;
    height: 60rem;
    border-radius: .5rem;
    display: grid;
    grid-template: 3fr 5fr 1fr / 65% 35%;   
    overflow: hidden;
    transform: scale(.8);
    animation: arise 0.3s forwards;
}

.modalPhoto {
    grid-row: span 5;
    background-size: cover !important;
}

.modalPhoto img {
    height: 100%;
}

.modalInfo {
    padding: 3rem;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .5;
    margin-bottom: 2rem;
}

.btnDelete {
    font-family: var(--font-first);
    font-size: 1.4rem;
    padding: .3rem .8rem;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid var(--color-light-gray);
    box-shadow: 0px 0px 0px 2px var(--color-light-gray);
    transition: all .2s;
}

.btnDelete:hover {
    border: 1px solid var(--color-black);
}

.author {
    font-family: var(--font-first);
    font-size: 1.6rem;
    color: var(--color-dark-gray);
}

.author:hover {
    text-decoration: underline;
}


.access {
    font-family: var(--font-first);
    font-size: 1.6rem;
    color: var(--color-dark-gray);
    display: inline-block;
    width: 50px;
}

.access:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 10px;
    background: url(../../assets/visualizacao-black.svg);
    margin-right: .5rem;
}

.modalDogInfo {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-family: var(--font-first);
    font-weight: bold;
}

.modalDogInfo span {
    margin-right: 3rem;
}

.modalComents {
    padding-left: 3rem;
    overflow: auto;
}

.modalComents ul li {
    font-size: 1.6rem;
    font-family: var(--font-first);
    list-style: none;
    margin-bottom: 1rem;
    word-break: break-all;
}

.modalComentUser {
    font-weight: bold;
    margin-right: .5rem;
}

.modalFormComents {
    padding: 1rem 1.5rem;
}

.modalFormComents form {
    display: flex;
    gap: .5rem;
}


.modalFormComents input {
    height: 6rem;
    padding: 1rem;
    align-content: flex-start;
}


.buttonSend {
    cursor: pointer;
    background: transparent;
    padding: 0 1rem;
}

.buttonSend:focus svg path,
.buttonSend:hover svg path {
    fill: #fea;
    stroke: #fb1;
}

.buttonSend:focus svg g,
.buttonSend:hover svg g {
    animation: latir 0.6s infinite;
}

.error {
    position: relative;
    top: .5rem;
    font-family: var(--font-first);
    color: var(--color-red);
}

@keyframes latir {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes arise {
    from {
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
  

@media screen and (max-width: 64rem) {    
    .modal {
        grid-template: 1fr 1fr 3fr 1fr / 1fr;  
        width: 86vw;
        height: 94vh;
    }

    .modalPhoto {
        grid-row: initial;
        height: 50rem;
    }
    
    .modalInfo {
        padding: 1rem;
    }

    .action {
        margin-bottom: .5rem;
    }

    .access {
        font-size: 1.4rem;
        width: 75px;   
    }   

    .modalDog {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modalDogName {
        font-size: 4rem;
    }

    .modalDogInfo {
        margin-top: 0;
        font-size: 1.6rem;
        text-align: right;
    }    

    .modalDogInfo span {
        margin: 0;
    }

    .modalDogInfo span + span {
        margin-left: 2rem;
    }

    .modalComents {
        padding: 1rem;
    }

    .modalFormComents {
        padding: 1rem;
    }
    
}
  