.modalBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black-soft);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--color-white);
    width: 90rem;
    height: 60rem;
    border-radius: .5rem;
    display: grid;
    grid-template: repeat(5, 1fr) / 65% 35%;   
}

.modalPhoto {
    grid-row: span 5;
}

.modalPhoto img {
    width: 100%;
    height: 100%;
}

