@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

:root {
    --color-yellow: #fb1;
    --color-light-yellow: #fea;
    --color-brown: #764701;
    --color-light-gray: #eee;
    --color-gray: #ddd;
    --color-medium-gray: rgb(136, 136, 136);
    --color-dark-gray: #666;
    --color-black: #333;
    --color-black-soft: #33333387;
    --color-white: white;
    --color-red: red;
    --color-green: green;

    --font-first: Helvetica, Arial, sans-serif;;
    --font-second: 'Spectral', Georgia;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    padding-top: 6rem;
}

.container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    all: unset;
    cursor: pointer;
}

img {
    width: 100%;
}

.title-1 {
    font-family: var(--font-second);
    font-size: 5rem;
    color: var(--color-black);
    position: relative;    
    line-height: 1;
    z-index: 1;
}

.title-1::before {
    content: '';
    position: absolute;
    bottom: 2px;
    left: -6px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3px;
    background-color: var(--color-yellow);
    z-index: -1;
}

.title-2 {
    font-family: var(--font-second);
    font-size: 3.4rem;
    color: var(--color-black);
    border-bottom: 2px;
    line-height: 1;
}

.title-2::after {
    content: '';
    display: block;
    width: 5rem;
    height: .8rem;
    background-color: var(--color-gray);
    border-radius: .5rem;
}

input:not([type="file"]) {
    background-color: var(--color-light-gray);
    width: 100%;
    max-width: 40rem;
    padding: 1.5rem;
    border: 1px solid var(--color-light-gray);
    border-radius: .6rem;
    outline: none;
    transition: all .2s;
}

input:not([type="file"]):hover,
input:not([type="file"]):focus {
    background-color: var(--color-white);
    border: 1px solid var(--color-yellow);
    box-shadow: 0px 0px 0px 3px var(--color-light-yellow);    
}

textarea {
    font-size: 1.6rem;
    font-family: var(--font-first);
    background-color: var(--color-light-gray);
    width: 100%;
    padding: .8rem;
    border: 1px solid var(--color-light-gray);
    border-radius: .6rem;
    outline: none;
    transition: all .2s;
    resize: none;
}

textarea:hover,
textarea:focus {
    background-color: var(--color-white);
    border: 1px solid var(--color-yellow);
    box-shadow: 0px 0px 0px 3px var(--color-light-yellow);    
}


.btn {
    background-color: var(--color-yellow);
    border: none;
    font-family: var(--font-first);
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-brown);
    padding: 1.2rem 2rem;
    border-radius: .5rem;
    transition: all .2s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 0px 0px 3px var(--color-light-yellow),
                0px 0px 0px 4px var(--color-yellow);
}


button:disabled {
    opacity: .5;
}

.msg-error {
    font-size: 1.6rem;
    color: var(--color-red);
}

.animeLeft {
    opacity: 0;
    transform: translateX(-10%);
    animation: animeLeft .1s forwards;
}

@keyframes animeLeft {
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.VictoryContainer {
    padding-right: 1rem;
}