.photoHome {
    min-height: 95vh;
    margin-bottom: 5rem;
}

.photoHome p {
    font-size: 1.6rem;
    font-family: var(--font-first);
    color: var(--color-medium-gray);
}


.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.noPosts {
    position: absolute;
    bottom: -5rem;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--font-first);
    color: var(--color-medium-gray);
}

@media screen and (max-width: 64rem) {
    .grid {
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }    
}
